@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	font-size: 16px;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
	background-color: red;
}

/* Track */
::-webkit-scrollbar-track {
	background: #454545;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #808080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #03041c;
}